# Copy from .env.local on the Vercel dashboard
# https://nextjs.org/learn/dashboard-app/setting-up-your-database#create-a-postgres-database
POSTGRES_URL=postgresql://neondb_owner:npg_PxkSm8RAyI3Z@ep-small-frog-ahcqdfr3-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require
POSTGRES_PRISMA_URL=ep-small-frog-ahcqdfr3.c-3.us-east-1.aws.neon.tech
POSTGRES_URL_NON_POOLING=postgresql://neondb_owner:npg_PxkSm8RAyI3Z@ep-small-frog-ahcqdfr3.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require
POSTGRES_USER=neondb_owner
POSTGRES_HOST=ep-small-frog-ahcqdfr3-pooler.c-3.us-east-1.aws.neon.tech
POSTGRES_PASSWORD=npg_PxkSm8RAyI3Z
POSTGRES_DATABASE=neondb

# `openssl rand -base64 32`
AUTH_SECRET=
AUTH_URL=http://localhost:3000/api/auth